@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.side-nav {
    width: 18%;
    display: inline-block;
    background: white;
    top: 0;
    left: 0;
    align-items: center;
    padding: 40px 30px;
    box-shadow: 0 0 27px 0 rgba(214, 231, 233, 0.52);
    border: 1px solid rgba(0, 0, 0, .05);


}

.logo {
    display: block;
    margin-bottom: 30px;

}

.logo-img {
    width: 170px;
    margin-top: 10px;


}

.nav-links {
    list-style: none;
    position: relative;
}

.nav-links li {
    padding: 0px;
}

.nav-links li a {
    color: #000000;
    text-decoration: none;

    display: flex;
    align-items: center;
}

.nav-links li a i {
    font-size: 22px;

}

.nav-links li a p {
    margin: 0;
    padding: 12px;
}

.active {
    background: #C0C0C0;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.6%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
    display: none;
    transition: top 0.5s;
}

.nav-links h2 {
    color: #d4174f;
}

.nav-links li:hover a {
    color: #C0C0C0;
    transition: 0.3s;
}

.nav-links li:hover~.active {
    display: block;
}

.nav-links li:nth-child(1):hover~.active {
    top: 2.6%;
}

.nav-links li:nth-child(2):hover~.active {
    top: 19.2%;
}

.nav-links li:nth-child(3):hover~.active {
    top: 35.8%;
}

.nav-links li:nth-child(4):hover~.active {
    top: 52.4%;
}

.nav-links li:nth-child(5):hover~.active {
    top: 69%;
}

.nav-links li:nth-child(6):hover~.active {
    top: 85.6%;
}

.navitem {
    display: flex;
    align-items: center;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
    width: 18%;
    margin-right: 25px;
    margin-bottom: 25px
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    padding: 30px;
    background-color: white;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 300px) {
    .column {
        width: 100%;
        display: block;
    }
}

.card img {
    width: 100%;
    object-fit: cover;
    object-position: center;

    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.card p {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: inherit;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
}

.card p:nth-of-type(2) {
    margin-top: 5px;
}

s .card h5 {
    color: red;
}

.row1 {
    margin-top: 20px;
    width: auto;
    height: 300px;
    display: flex;
    margin-left: 120px;
}

/* Clear floats after the columns */
.row1:after {
    content: "";
    display: table;
    clear: both;
}

.card:hover img {
    transform: scale(1.2);
}

.price span {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 700;
    color: red;
}

.faculties {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.text-card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 25px;
    max-width: 32%;
}

.text-card h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 25px;
}

.text-card p {
    font-size: 14px;
}